<h1>Cardgame_name</h1>
<p class = "opponent"><span class = deck> opponents deck</span><span class = hand> opponents hand</span></p>
<p class = "field">
    <p class = "row">
        <span class = "zone">,</span><span class = "zone">,</span><span class = "zone">,</span>
    </p>
    <p class = "row">
        <span class = "zone">,</span><span class = "zone">,</span><span class = "zone">,</span>
    </p>
    <p class = "row">
        <span class = "zone">,</span><span class = "zone">,</span><span class = "zone">,</span>
    </p>
</p>
<p class = "player"><span class = hand> @gameState.cards[0]</span><span class = hand> players deck</span></p>
