<div class = "player">
    <turbo-frame id = "hand"> 
        <% i = 0 %>
        <% while i < opponent.hand.cards.size do %>          

            <span class = "Cardback" >
            </span>

            <%i=i+1%>
        <%end%>   
    </turbo-frame>
    <span class = deck> DECK</span>
</div>